@import "tailwindcss";

@theme {
  --font-sans: "Inter", system-ui, sans-serif;
}

@layer base {
  body {
    background-color: #070b19;
    background-image:
      radial-gradient(circle at 10% 20%, rgba(99, 102, 241, 0.07), transparent 30%),
      radial-gradient(circle at 90% 80%, rgba(56, 189, 248, 0.07), transparent 30%);
    color: #f1f5f9;
    @apply antialiased selection:bg-cyan-500/30 overflow-x-hidden;
  }
}

@layer utilities {
  .animate-marquee {
    animation: marquee 25s linear infinite;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-33.333333%);
  }
}

.grid-overlay {
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, rgba(255, 255, 255, 0.03) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
}